<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>{{ config.SERVICE_NAME }} - declarative webhook transformation</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name=description content="Translate webhooks from one service into HTTP API calls to another service">
<meta name="author" content="alhures software">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/2.3.2/simplex/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/static/style.css">
<script>
var _gauges = _gauges || [];
(function() {
  var t   = document.createElement('script');
  t.type  = 'text/javascript';
  t.async = true;
  t.id    = 'gauges-tracker';
  t.setAttribute('data-site-id', '5828baee4b2ffa05e4004a74');
  t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
  t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(t, s);
})();
</script>

<body>
  <div id="nav">
    <div class="container-fluid">
      <div class="masterhead">
        <ul class="nav nav-pills pull-right">
          <li {% if request.path == "/" %}class="active"{% endif %}>
            <a href="/">home</a> 
          </li>
          {% if not current_user.is_authenticated %}
          <li>
            <a href="/login/github">login</a> 
          </li>
          {% else %}
          <li {% if request.path == "/dashboard" %}class="active"{% endif %}>
            <a href="/dashboard#/">dashboard</a> 
          </li>
          <li>
            <a href="/logout">logout</a> 
          </li>
          {% endif %}
        </ul>
        <h3 class="wordmark muted">
          <a href="/">{{ config.SERVICE_NAME }}</a> 
        </h3>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <hr style="margin-top: 20px;">
  </div>
  <div class="container-fluid flashed-messages">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-error">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

{% block content %}{% endblock %}

  <div class="container-fluid">
    <hr>
  </div>
  <div id="footer">
    <div class="container-fluid">
      <div class="row-fluid">
        &copy;
        <a href="http://alhur.es">alhures software</a> 2016
        <ul class="pull-right text-right unstyled muted">
          <li>

          </li>
          <li> <a href="/tos">Terms of Service</a>  </li>
        </ul>
      </div>
    </div>
  </div>
</div>
