<!doctype html>

<meta charset=utf-8>
<link href=https://websitesfortrello.github.io/classless/themes/plain/theme.css rel=stylesheet>
<style>
* {
  font-family: monospace;
}
input {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
input, button, textarea, select {
  display: block;
  margin: 10px auto;
}
</style>
<title>Webhook Transmutations</title>

<body>
  <header>
    <h1>Webhook Transmutations</h1>
    <p>Piping from a service to another since 2016</p>
  </header>
  <main>
    <article>
      <header>

      </header>
      <form action=/e/ method=post>
        <input name=target placeholder='The URL to which this webhook will be redirected.'>
        <textarea name=definition placeholder='The jq script that will be used to transform the incoming data.'></textarea>
        <input name=headers placeholder='A custom header.'>
        <button>Create</button>
      </form>
    </article>
  </main>
</body>
